<div class="row">
  <p class="lead text-success fw-bold fs-4">
    Sign up to Bug Tracker
  </p>
  <div class="col-6">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), defaults: { input_html: { class: 'mb-2' } }) do |f| %>
      <%= f.input :first_name %>
      <%= f.input :last_name  %>
      <%= f.input :email  %>
      <%= f.input :role_id, as: :select, collection: Role.roles %>
      <%= f.input :password  %>
      <%= f.input :password_confirmation %>
      <%= f.button :submit, data: { turbo: false }, value: 'Register', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
<%= render "devise/shared/links" %>
