<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to <%= link_to 'bug-tracker.com', @site_url %> , <%= @user.full_name %></h1>
    <p>
      You have successfully signed up to bug-tracker.com,
      Your email is: <%= @user.email %>.<br>
    </p>
    <p>You have signed up as a <%= @user.role.name %></p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>