<div class="row">
  <p class="lead text-success fw-bold fs-4">
    Change your password
  </p>
  <div class="col-6">
    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }, defaults: { input_html: { class: 'mb-2' } }) do |f| %>
      <%= f.hidden_field :reset_password_token %>
      <%= f.input :password, hint: 'Minimun 6 characters.' %>
      <%= f.input :password_confirmation, hint: 'Confirm your password.' %>
      <%= f.button :submit, data: { turbo: false }, value: 'Change my password', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
<%= render "devise/shared/links" %>















