<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <style>
  body {
    font-size: 19px;
    padding: 20px;
    border: 1px solid red;
    box-shadow: 2px 2px lightseagreen;
  }
  </style>
  <body>
    <h3><%= @user.full_name %> has created a new ticket in your project.</h3>
    <h4>The project name is <%= @ticket.project.name %></h4>
    <p>
     <span style="color:green;font-weight: bold;">Ticket Title :</span> <%= @ticket.title %><br>
    </p>
    <p><span style="color:green;font-weight: bold;">Ticket Description : </span><%= @ticket.description %><br></p>
    <p>
      To login to the site, just follow this link: <%= link_to 'Login Url', @url %>
    </p>
    <p>Have a great day! 🙂</p>
  </body>
  <%= image_tag attachments['bug.png'].url, alt: 'Bug Photo', width: 100 %> 

</html>