  <table class="table">
    <thead>
      <tr>
        <th class="text-center">Name</th>
        <th class="text-center">Description</th>
        <th class="text-center">Bugs</th>
        <th class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.name, project_path(project) %></td>
        <td><%= truncate(project.description, length: 80) %></td>
        <td class="text-center"><%= rand(1..5) %></td>
        <td>
          <%= link_to 'show', project_path(project), class: 'btn btn-primary btn-sm' %>
          <% if user_signed_in? && current_user.id == project.project_manager_id && current_user&.role.identifier == "project_manager"%>
            <%= link_to 'edit', edit_project_path(project), class: 'btn btn-success btn-sm' %>
            <%= link_to 'delete', project_path(project), class: 'btn btn-danger btn-sm', data: {
                        turbo_method: :delete,
                        turbo_confirm: "Are you sure?" } %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>