<table class="table">
  <thead>
    <tr>
      <th class="text-center">Title</th>
      <% unless page == 'dashboard' %>
        <th class="text-center">Description</th>
      <% end %>
      <th class="text-center">Project</th>
      <th class="text-center">Type</th>
      <th class="text-center">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @tickets.each do |ticket| %>
    <tr>
      <td><%= link_to ticket.title, ticket_path(ticket) %></td>
      <td><%= truncate(ticket.description, length: 20) %></td>
      <td class="text-center"><%= ticket.project.name %></td>
      <td class="text-center"><%= ticket.bug_type %></td>
      <td>
        <%= link_to 'show', ticket_path(ticket), class: 'btn btn-primary btn-sm' %>
        <% unless page == 'dashboard' %>
          <% if  user_signed_in? && current_user.id == ticket.user_id && current_user&.role.identifier == "user"%>
            <%= link_to 'edit', edit_ticket_path(ticket), class: 'btn btn-success btn-sm' %>
            <%= link_to 'delete', ticket_path(ticket), class: 'btn btn-danger btn-sm', data: {
                        turbo_method: :delete,
                        turbo_confirm: "Are you sure?" } %>
          <% end %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>