<table class="table">
  <thead>
    <tr>
      <th class="text-center">Title</th>
      <th class="text-center">Type</th>
      <th class="text-center">Action</th>
    </tr>
  </thead>
  <tbody>
    <% tickets.each do |ticket| %>
    <tr>
      <td><%= link_to ticket.title, ticket_path(ticket) %></td>
      <td class="text-center"><%= ticket.bug_type %></td>
      <td class="text-center">
        <%= link_to 'show', ticket_path(ticket), class: 'btn btn-primary btn-sm' %>
        <% if  user_signed_in? %>
          <%= link_to 'assign', assign_get_path(ticket), class: 'btn btn-success btn-sm' %>
          <%= link_to 'delete', ticket_path(ticket), class: 'btn btn-danger btn-sm', data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?" } %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>